---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Te cuento un poco de mí">
  <section class="relative z-20 max-w-4xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Sobre Mí"
      description="Hola 👋 Soy un desarrollador frontend de Tucumán, Argentina. Me apasiona crear nuevas soluciones y demostrar mi creatividad y pasión."
    />

    <img
      src="/assets/images/about.jpg"
      class="relative z-30 w-full my-10 rounded-xl"
    />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">
      Breve Biografía
    </h2>
    <p
      class="mt-5 text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
    Comencé con la programación desde que tengo 14 años de edad , cuando me regalaron mi primera computadora. Desde entonces supe que me iba a dedicar a la tecnología. Pasaron los años, en secundaria fue mi acercamiento con la programación al aprender un poco de HTML y CSS. 
    </p>
    <p class="mt-10 text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
      También estuve en una carrera de ingeniería, pero no me llevó por el lado que más me gustaba. Luego de eso, comencé a aprender por mi cuenta a programar y fue ahí donde encontré un vasto mundo de lenguajes y frameworks, entre todo eso descubrí mi inclinación hacia el Front-end y el diseño web. 
    </p>

    <div class="flex sm:flex-row flex-col mt-10 items-center">
      <div class="mr-16 p-1 rounded-2xl border-dashed border-2 border-gray-500 sm:block hidden">
        <img class="w-96 h-72 rounded-2xl object-cover" src="/assets/images/Arbolismo2.png" alt="Kayak">
      </div>
      <p class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
        Pero no soy solo nerd y código. Soy alguien extrovertido, deportista, me gustan mucho los animales; dato de color: tengo un perro que se duerme parado. Me gustan mucho las actividades al aire libre, como hacer trekking, navegar en kayak o participar de juegos en altura como arbolismo.
      </p>
      <div class="ml-16 p-1 rounded-2xl border-dashed border-2 border-gray-500 sm:block hidden">
        <img class="w-96 h-72 rounded-2xl object-cover" src="/assets/images/Kayak.png" alt="Kayak">
      </div>
    </div>
    
    
    

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experiencia Laboral
    </h2>
    <div class="px-5 py-10">
      { 
        experiences.map((experience, loop) => {
          return (
            <>
              {loop !== experiences.length - 1 ? (
                <div class="pb-10 border-l border-gray-200 dark:border-neutral-700 ">
                  <AboutExperience
                    dates={experience.dates}
                    role={experience.role}
                    company={experience.company}
                    description={experience.description}
                    logo={experience.logo}
                  />
                </div>
              ) : (
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              )}
            </>
          );
        })
      }
    </div>

    <div id="printConectemos">
      <h2
        class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
      >
        Conectemos
      </h2>
      <p
        class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
      >
        Si deseas estar en contacto conmigo podrias escribirme a mi <a
          target="_blank"
          href="alejandroaguerodev@gmail.com"
          class="text-indigo-600 underline">email</a
        > y me aseguraré de responderte. Tambien puedes agregarme a <a
          target="_blank"
          href="https://www.linkedin.com/in/alejandroaguerodev/"
          class="text-indigo-600 underline">Linkedin</a
        > o seguirme en <a
          target="_blank"
          href="https://www.instagram.com/alejandro_.aguero/"
          class="text-indigo-600 underline">Instagram</a
        >
        para tambien poder estar en contacto conmigo.
      </p>
    </div>
  </section>
</Layout>

<style>
  @media print{
    #printConectemos{
      display: none;
    }
  }
</style>
